<launch>
  <param name="/use_sim_time" value="true" />
  <node name="squash_depth_camera" pkg="depthimage_to_laserscan"
      type="depthimage_to_laserscan">
    <param name="output_frame_id" value="kinect2_ir_optical_frame"/>
    <remap from="image" to="/kinect2/qhd/image_depth_rect" />
    <remap from="camera_info" to="/kinect2/qhd/camera_info" />
  </node>
<!--   <node name="squash_depth_camera" pkg="pointcloud_to_laserscan"
      type="pointcloud_to_laserscan_node">
    <remap from="cloud_in" to="/kinect2/qhd/points" />
  </node> -->
  <node name="cartographer" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename kinect2.lua"
      output="screen">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros
          )/configuration_files/kinect2.rviz" />
  <node name="playbag" pkg="rosbag" type="play"
      args="--clock $(arg bag_filename)" />
</launch>
